<h2 style="border-color:black;border-style: solid; border-width: 3px; padding: 30px">AngularJS-To-Do</h1>

<div style="padding: 30px" id="container">
<form>
	Name: <input type="text" ng-model="DashboardVM.heroName">
	<br>
	<button class="btn btn-default" type="submit" value="one">List</button>
	<button class="btn btn-default" type="submit" value="two">Create</button>
	<button class="btn btn-default" type="submit" valume="three">Dashboard</button>
	<hr>
	<br>
	<h3>Overdue</h3>
	<hr>
	<div class="checkbox">
    	<label>
    		<!-- ng-model is the part that binds through Angular and is dynamic -->
     		<input type="checkbox" ng-model="DashboardVM.itemOverdue" value="four"> Clean laundry
    	</label>
    	<br>
    	<label>
     		<input type="checkbox" value="win" ng-model="DashboardVM.itemOverdueTwo" value="five"> Wash dishes
    	</label>
    <br>
    <h3>Due Today</h3>
    <hr>
    <div class="checkbox">
    	<label>
     		<input type="checkbox" ng-model="DashboardVM.itemToday"> Change oil
    	<br>
    	<label>
     		<input type="checkbox" ng-model="DashboardVM.itemToday2"> Doctor appointment
    	</label>
    <h3>Due Later</h3>
    <hr>
	<div class="checkbox">
    	<label>
     		<input type="checkbox" ng-model="DashboardVM.itemLater"> Call Mom
    	</label>
    </div>
</form>
</div>